{% extends 'base.html' %}


{% block title %}
Green Book - 해외 주식투자 정보 북마크
{% endblock %}

{% block content %}

    {% comment %} <div class="btn-group">
        <a href="{% url 'add' %}" class="btn btn-info">Add List</a>
    </div> {% endcomment %}

    <br><br>

    <table class="table">
        
        <thead>
            <tr>
                {% comment %} <th scope="col">#</th> {% endcomment %}
                <th scope="col" class="name-th">이름</th>
                <th scope="col" class="description-th">어떤 곳인가요?</th>
                <th scope="col" class="category-th">카테고리</th>
                {% comment %} <th scope="col">수정</th>
                <th scope="col">삭제</th> {% endcomment %}
                <th scope="col" class="vote-th">추천</th>
            </tr>
        </thead>

        <tbody>
            {% for list in object_list %}
                <tr>
                    {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
                    <td class="name-td"><a href="{{ list.url }}" target="_blank">{{ list.site_name }}</a></td>
                    <td>{{ list.description|linebreaks }}</td> 

                    {% comment %} 수정, 삭제 기능은 추후 관리자 단에서만 노출되도록 설정 예정 {% endcomment %}
                    {% comment %} <td><a href="{% url 'bookmark:update' pk=list.id %}" class="btn btn-success btn-sm">Modify</a></td>
                    <td><a href="{% url 'bookmark:delete' pk=list.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                     {% endcomment %}

                    <td class="category-td">{% for each_category in list.category.all %}<span class="badge badge-pill badge-warning">{{ each_category }}</span>{% endfor %}</td>

                    <td class="vote-td">
                    <form action="{% url 'bookmark:vote' pk=list.id %}" method="post" >
                    
                        {% csrf_token %}
                        
                        <input type="submit" value="👍 {{ list.votes }}" class="btn btn-light vote-btn">

                    </form>
                    </td>

                </tr>
            {% endfor %}
        </tbody>

    </table> 

{% endblock %}

{% comment %} 
    
    
        {% csrf_token %}

        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}

        <input type="submit" value="Vote">

    </form> {% endcomment %}

    
{% comment %} {% block pagination %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == forloop.counter %}disabled{% endif %}">
                <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}

            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
            {% endif %}
        </ul>
    {% endif %} 
{% endblock %}            {% endcomment %}